@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eff9fb;
}

.shadow-soft {
  box-shadow: 0 4px 20px rgba(10, 118, 174, 0.05);
}

.hover-border:hover {
  border-color: #0a76ae;
}

.font-arabic,
.font-arabic * {
  font-family: "Cairo", "Inter", sans-serif !important;
}

.font-arabic .material-symbols-outlined {
  font-family: "Material Symbols Outlined" !important;
}
